.barHeader{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 6vw !important;

    background-color: #094fa0aa;
    filter: drop-shadow(-4px 6px 15px #000);
}

.barContainer{
    color: white;
    width: 100vw !important;
    font-size: 1vw;
    padding: 1vw 5vw;
}

.barRow{
    width: 100%;
}

.brand{
    float: left;
}
.history{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}