.barHeader{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 6vw !important;

    border-style: solid;
    border-width: 1px 0px 1px 0px;
    border-color: rgb(240, 243, 248);
    border-top-color: rgb(60, 75, 117);

    background-color: #094fa0aa;
    filter: drop-shadow(-4px 6px 15px #000);
}

.barContainer{
    color: white;
    width: 100vw !important;
    font-size: 1vw;

    margin: 0 auto;
}

.barRow{
    margin: 0;
}

.barIcon{
    /*width: 6.33vw;*/
    width: 6.3vw;

    float: left;
}
.barLink{
    color: white;

    margin: 0vw 0.6vw;
}
.barLink:hover{
    text-decoration: underline;
    cursor: pointer;
}
.historyCol{
    height: 6vw !important;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.history{
    text-align: end;
}