.input{
    padding: 2vw 5vw;
    background-color: #1466c3b0;
    position: absolute;
    top: 8vw;
    bottom: 0;
    width: 100%;

    font-size: 1vw;
}

.col{
    margin: 0.5vw 0vw;
}
.centeredRow{
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.inputDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;

    height: 2vw;

    white-space: nowrap;
}

.formControl{
    min-width: 3vw;
    max-width: 10vw;
    font-size: 0.7vw;
}
.controlLabel{
    font-size: 0.8vw;
    margin: 0px 0.5vw;
    height: 2vw;
    line-height: 2vw;

    display: inline-block;
}
.controlInvalid{
    background-color: rgba(255, 0, 0, 0.442) !important;
}
.controlValid{
    background-color: #779dd557 !important;
}

.nameInput{
    max-width: 20vw;
}
.colorgrey{
    color: grey !important;
}
