.hCenter{
    margin: 0 auto;
}
.hCenterFlex{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.centeredRow{
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.vCenter{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hCenterRow{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.averagesCol{
    text-align: center;
    font-size: 0.9vw;
}
.noPadding{
    padding: 0px 0px;
}

.input{
    display: flex;
    flex-direction: column;
    justify-content: center;

    position: absolute;
    top: 6vw;
    bottom: 0;
    width: 100%;

    padding: 0vh 4vw;

    font-size: 1.2vw;
    color: rgb(240, 243, 248);
}

.carousel-indicators{
    display: none;
}
.carousel, .carousel-inner, .carousel-item{
    height: 100%;
    background: none;
}
.carousel-inner{
    width: 108.5%;
    margin-left: -4.3%;
}
.carousel-inner>.item {
    width: 100% !important;
    height: 100% !important;
}
.carouselItem2{
    margin-bottom: 0vw !important;
}


h1{
    text-align: center;
    font-size: 300%;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
}
.h1vCenter{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.title{
    position: relative;
    height: 10%;

    color: #094fa0ea;
    text-shadow: 2px 2px 4px #484168;

    /*TEXT SHADOW PRESET*/
    text-shadow: 
        -1px -1px 0px rgb(240, 243, 248),
         0px -1px 0px rgb(240, 243, 248),
         1px -1px 0px rgb(240, 243, 248),
        -1px  0px 0px rgb(240, 243, 248),
         1px  0px 0px rgb(240, 243, 248),
        -1px  1px 0px rgb(240, 243, 248),
         0px  1px 0px rgb(240, 243, 248),
         1px  1px 0px rgb(240, 243, 248);

    filter: drop-shadow(-9px 8px 16px rgba(0, 0, 0, 0.74));
}
.title2{
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
}
option { 
    /* Whatever color  you want */
    color: #0a4269;
}

.styledBox{
    padding: 1vw 0vw;

    border-style: solid;
    border-color: rgb(240, 243, 248);
    border-width: 1px 1px 2px 2px;
    border-radius: 20px;

    background-color: #094fa0aa;
    filter: drop-shadow(-9px 5px 16px #000);
}
.textCenter{
    text-align: center;
}
.formRow{
    height: 45%;
    padding: 0%;
}
.formIcon{
    margin: 0 auto;
    width: 10vw;
}
.formIconDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 400;
    font-size: 1.3vw;
}

/*form placeholders*/
.form-control::placeholder { 
    color: rgb(182, 169, 169);
    opacity: 1; 
    font-size: 0.9vw;
}

.form-control:-ms-input-placeholder { 
    color: rgb(211, 203, 203);
    font-size: 0.9vw;
}

.form-control::-ms-input-placeholder { 
    color: rgb(211, 203, 203);
    font-size: 0.9vw;
}

.inputDiv{
    display: flex;
    flex-direction: row;
    justify-content: left;

    position: relative;
    z-index: 6 !important;

    width: 100% !important;
    height: 2.5vw;

    white-space: nowrap;
}

.formControl{
    max-width: 100% !important;
    width: 100% !important;
    border-radius: 15px;  

    margin: 0vw 0.25vw;

    font-size: 1.2vw !important;
}
.controlLabel{
    font-size: 1.2vw;
    
    padding: 0vw 0vw;

    height: 2.5vw;
    line-height: 2.5vw;

    display: inline-block;
}

.controlNeutral{
    font-size: 0.7vw;
}
.controlInvalid{
    font-size: 0.9vw;
    font-style: italic;
    background-color: rgba(255, 0, 0, 0.442) !important;

    color: rgb(206, 211, 215);
}
.controlValid{
    font-size: 0.9vw;
    background-color: #779dd557 !important;

    color: rgb(206, 211, 215);
}

.colorgrey{
    color: rgb(211, 203, 203) !important;
}

.octSwitchOn{
    cursor: pointer;

    position: absolute;
    z-index: 7;

    top: 0;
    left: 0.5vw;
    width: calc(100% - 1vw);
    height: 100%;

    background-color: #4475adfa;
    border-style: solid;
    border-color: #9bb9dbcb;
    border-width: 1px;
    border-radius: 20px;
}
.octSwitchOn:hover{
    cursor: pointer;
    color: white;

    position: absolute;
    top: 0;
    left: 0.5vw;
    width: calc(100% - 1vw);
    height: 100%;

    background-color: #3e6694fa;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    border-radius: 20px;
}
.octSwitchOff{
    position: absolute;
    top: 0;
    left: 0.5vw;
    width: calc(100% - 1.5vw);
    height: 100%;

    background-color: #4475ad00;
    border-color: #9bb9db00;
    color: #00000000;

    /*transition: nombre de la propiedad | duración | función | retardo */
    transition: all .2s linear 0s !important;
}


/*REMOVE ARROWS FROM NUMBER INPUTS*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}