.preopData{
    height: 100%;
    padding: 2vw 0vw;
    font-family: 'Titillium Web', sans-serif;

    display: flex;
    flex-direction: column;
    align-content: center;

    position: relative;
}

.patientDataForm{
    padding: 0vw 2vw;
}
.patientDataForm > .row{
    margin-top: 0.4vw;
    margin-bottom: 0.4vw;
    padding-left: 0vw;

    text-align: left;
}
.nameInput{
    max-width: 30vw !important;
}
.patientNameDiv{
    margin-left: auto;
    margin-right: 0;
    
    white-space: nowrap;
}
/*
.eyeCol{
    padding-left: 0 !important;
}
.eyeInput{
    margin-left: 0.4vw;
    width: 100% !important;

    font-size: 0.7vw !important;
}
*/
.surgeonNameInput{
    max-width: 21vw !important;
}

.formCol{
    position: relative;
}
.formCol > .row{
    margin: 0.15vw 0vw;
    padding-left: 0vw;
    
    text-align: left;

    white-space: nowrap;
}

.measureCol{
    text-align: center;
    width: fit-content;

    font-size: 0.85vw;
}
/*.measureRow{
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
}*/
.measureRow{
    width: 100%;

    font-size: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;

    position: relative;
}
.addMeasureRow > span{
    margin: 0 auto;
    width: min-content;

    font-size: 75%;

    border-style: solid;
    border-width: 1px;
    border-radius: 20px;

    cursor:pointer;

    background-color: #094fa0aa;
}
.addMeasureRow > span:hover{
    color: white;
    background-color: rgba(45, 111, 185, 0.98);
}
.deleteMeasureSpan{
    position: absolute;
    text-align: right;

    padding-right: -1vw;
    padding-top: 0.15vh;

    font-size: 1.5vw;
}

.continueBtn{
    padding: 1.2vw 2.4vw !important;
    margin: 0 auto;

    background-color: #094fa0aa;
    
    color: rgb(240, 243, 248);
    font-weight: 600;
}
.continueBtn:hover{
    color: white;
    background-color: #094fa0cb;
    filter: drop-shadow(-9px 20px 20px #000);
}
.continueBtnDisabled{
    background-color: #5178a5cb !important;
    color: rgb(164, 175, 196);

    padding: 1.2vw 2.4vw !important;
    margin: 0 auto;
}
.arrowIcon{
    align-self: center;   
    margin: 0.5vw 0.5vw;
    font-size: 1.8vw;
}

.bigBlock{
    min-width: 60vw;
    max-height: 14.5vw !important;

    padding: 1.5vw 0vw !important;
    margin: 0vw 0vw;
}
.bigBlock2{
    max-width: 98%;
    height: 14.5vw !important;

    margin-left: 0.7vw;

    display: flex;
    flex-direction: row;
    justify-content: center;
}
.bigBlock2 > .formCol{
    padding: 0vw 0.5vw;
}
.block1{
    max-width: 16.666666666667%;
    margin: 0vw 0vw 0vw 2.75vw;
}
.block2{
    margin: 0 auto;
}
.block3{
    padding: 0vw 1vw !important;
}
.block4{
    max-width: 12.3333333333334%;
    padding-left: 0vw;
    margin: 0vw 1vw 0vw 0vw;
}



